<h1 mat-dialog-title>Create New User</h1>
<mat-dialog-content>
  <form [formGroup]="myForm" (ngSubmit)="submitForm()">
    <div class="form-group mt-2">
      <label for="exampleInputEmail1">Name</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="firstNameHelp"
        placeholder="Enter Name"
        formControlName="name"
      />
      <small
        id="nameHelp"
        *ngIf="myForm.get('name')?.touched && myForm.get('name')?.invalid"
        class="form-text text-danger"
        >Please provide the name!</small
      >
    </div>

    <div class="form-group mt-2">
      <label for="exampleInputEmail1">Username</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="lastNameHelp"
        placeholder="Enter Username"
        formControlName="username"
      />
      <small
        id="usernameHelp"
        *ngIf="
          myForm.get('username')?.touched && myForm.get('username')?.invalid
        "
        class="form-text text-danger"
        >Please provide an username!</small
      >
      <small
        *ngIf="myForm.get('username')?.hasError('uniqueUsername')"
        class="form-text text-danger"
        >Username already exists</small
      >
    </div>
    <div class="form-group mt-2">
      <label for="exampleInputEmail1">Email</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter Email"
        formControlName="email"
      />
      <small
        id="emailHelp"
        *ngIf="
          myForm.get('username')?.touched && myForm.get('username')?.invalid
        "
        class="form-text text-danger"
        >Please provide an email!</small
      >
      <small
        *ngIf="myForm.get('email')?.hasError('uniqueeEmail')"
        class="form-text text-danger"
        >Email already exists</small
      >
    </div>
    <mat-dialog-actions>
      <button
        type="submit"
        class="btn btn-primary mt-2"
        [disabled]="myForm.invalid"
      >
        Create
      </button>
      <button
        type="button"
        class="btn btn-secondary mx-2 mt-2"
        (click)="cancelBtn()"
      >
        Cancel
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
